run_id: "marl_interactive_8h_run"
mode: "interactive"
n_agents: 2

iterations: 100
num_workers: 3
num_gpus: 2

reward_type: "shared"
shared_policy: true 
use_cc: true

use_tune: false

ppo_config:
  training:
    gamma: 0.99
    lr: 0.0003
    lambda_: 0.95
    clip_param: 0.2
    entropy_coeff: 0.01
    train_batch_size: 16384 
  
  model:
    fcnet_hiddens: [128, 128] 
    fcnet_activation: "tanh"
    
  env_runners:
    rollout_fragment_length: 1024