run_id: "marl_interactive_from_ppo_5M_run"
mode: "interactive"
n_agents: 2

iterations: 2
num_workers: 3
num_gpus: 1

reward_type: "shared"
shared_policy: true 
use_cc: true

use_tune: false

ppo_config:
  training:
    gamma: 0.99
    lr: 0.00005
    lambda_: 0.95
    clip_param: 0.2
    entropy_coeff: 0.01
    train_batch_size: 32768
  
  model:
    fcnet_hiddens: [256, 256] 
    fcnet_activation: "tanh"
    
  env_runners:
    rollout_fragment_length: 1024