WATCH:
  enabled: false 
  fast_forward: true
  auto_skip_stuck: true

PPO:
  enabled: false
  run_id: "ppo_reach_the_end_run"
  env: "parkour"
  body: "classic_bipedal"
  
  total_timesteps: 2000000 
  save_freq: 200000
  n_envs: 16
  horizon: 5000

  ppo_config:
    gamma: 0.999 
    n_steps: 4096 
    ent_coef: 0.01 
    learning_rate_schedule:
      type: "linear"
      initial_value: 3e-4
    vf_coef: 0.5
    max_grad_norm: 0.5
    n_epochs: 10
    batch_size: 64
    gae_lambda: 0.95
    clip_range: 0.2 

ACL:
  enabled: true
  run_id: "acl_climbing_run_SAC"
  env: "parkour"
  body: "climbing_profile_chimpanzee"
  student_steps_per_stage: 200000
  total_stages: 40    
  eval_episodes: 10
  mastery_threshold: 0.0
  difficulty_increment: 0.025
  horizon: 5000
  n_envs: 16
  seed: 42
  
  creepers_width: 0.5
  creepers_height: 2.0
  creepers_spacing: 0.8

  ppo_config:
    learning_rate: 0.0003
    buffer_size: 1000000 
    batch_size: 256
    ent_coef: 'auto'
    gamma: 0.99
    tau: 0.005
    train_freq: 1
    gradient_steps: 1
    learning_starts: 10000

MARL:
  enabled: true
  run_id: "marl_reach_the_end_run"
  mode: "interactive"
  n_agents: 2
  body: "classic_bipedal"
  num_workers: 12 
  num_gpus: 2
  horizon: 5000
  
  reward_type: "shared"

  shared_policy: true
  use_cc: true

  use_tune: false
  iterations: 150
  
  ppo_config:
    training:
      gamma: 0.999
      lr: 0.0003
      lambda_: 0.95
      clip_param: 0.2
      entropy_coeff: 0.01
      train_batch_size: 12288
    
    model:
      fcnet_hiddens: [512, 512]
      fcnet_activation: "tanh"
      
    env_runners:
      rollout_fragment_length: 1024